.home-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background:
    linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.85) 0%,
      rgba(248, 250, 252, 0.9) 100%
    ),
    url("../../assets/Home.webp");
  background-size: cover;
  background-position: center right;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow: hidden;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.05);
  color: #1f2937;
}

.bricolage-grotesque-regular {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.bricolage-grotesque-bold {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* Responsive */
@media (max-width: 768px) {
  .home-page {
    background-position: center;
    background-attachment: scroll;
  }
}
